body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin: 0;
    background-image: url(./bgi.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: yellowgreen;
}
.bimg {
    margin-right: 30px;
}
.bimg1 {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}
footer img {
    border-radius: 0;
    position: absolute;
    left: 60px;
    bottom: -100px;
}

header img {
    margin-right: 50px;
}
.privacy {
    position: relative;
    margin-bottom: 20px;
}

.privacy input {
    position: absolute;
    right: -110px;
    bottom: -6px;
}
