body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url(./bgi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: yellowgreen;
}

.bimg {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
}

.bimg1 {
    border-radius: 50%;
    width: 100%;
    height: 500px;
}

header img {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
}

.privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        height: 100%;
        background-position: center;
    }
    .container {
        width: 90%;
        padding: 10px;
    }
    .bimg1 {
        width: 100%;
        height: 500px;
    }
    footer img {
        position: static;
        width: 100%;
        height: auto;
    }
    .privacy input {
        position: static;
        margin-top: 10px;
    }
}
